.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  align-self: center;
  z-index: 2;
  text-align:center;
}

.allstuff {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.create {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  z-index: 5;
}

.backgroundlist {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20px;
  height: 200px;
  overflow-y:auto;
  z-index: 5;
}

span {
  margin-right: 20px;
}

.listbutton {
  margin-right: 10px;
  border-radius: 12px;
  background: black;
  color: white;
  border: none;
}

