.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.main::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

header {
  align-self: center;
  z-index: 2;
}

.allstuff {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.create {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  z-index: 5;
}

.backgroundlist {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20px;
  height: 200px;
  overflow-y:auto;
  z-index: 5;
}

span {
  margin-right: 20px;
}

.listbutton {
  margin-right: 10px;
  border-radius: 12px;
  background: black;
  color: white;
  border: none;
}

